load_eligibility_plist: Failed to open /Users/sunil/Library/Developer/XCTestDevices/591EBF0D-5E7F-42D9-9836-F839621279B3/data/Containers/Data/Application/4CEAA02F-8890-423E-8FCC-9D314E98497B/private/var/db/eligibilityd/eligibility.plist: No such file or directory(2)
Test Suite 'OCRViewModelTests' started at 2025-07-30 08:15:45.685.
Test Case '-[OCRMaxTests.OCRViewModelTests testCanConvertToWord_NoTextAndNotProcessing]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testCanConvertToWord_NoTextAndNotProcessing]' passed (0.017 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testCanConvertToWord_WithTextAndNotProcessing]' started.
CoreGraphics PDF has logged an error. Set environment variable "CG_PDF_VERBOSE" to learn more.
Test Case '-[OCRMaxTests.OCRViewModelTests testCanConvertToWord_WithTextAndNotProcessing]' passed (0.124 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testCanConvertToWord_WithTextButProcessing]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testCanConvertToWord_WithTextButProcessing]' passed (0.001 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testClearResults]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testClearResults]' passed (0.001 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testComputedProperties_InitialState]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testComputedProperties_InitialState]' passed (0.016 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testConvertToWordDocument_EmptyText]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testConvertToWordDocument_EmptyText]' passed (0.001 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testConvertToWordDocument_ExportFailure]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testConvertToWordDocument_ExportFailure]' passed (0.227 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testConvertToWordDocument_Success]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testConvertToWordDocument_Success]' passed (0.123 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testHasExtractedText_WithText]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testHasExtractedText_WithText]' passed (0.105 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testHasSelectedPDF_WithURL]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testHasSelectedPDF_WithURL]' passed (0.017 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testInitialState]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testInitialState]' passed (0.001 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testProcessPDF_IgnoresSubsequentCallsWhileProcessing]' started.
/Users/sunil/Desktop/OCRMax/OCRMaxTests/ViewModels/OCRViewModelTests.swift:136: error: -[OCRMaxTests.OCRViewModelTests testProcessPDF_IgnoresSubsequentCallsWhileProcessing] : XCTAssertTrue failed
Test Case '-[OCRMaxTests.OCRViewModelTests testProcessPDF_IgnoresSubsequentCallsWhileProcessing]' failed (0.696 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testProcessPDF_OCRServiceFailure]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testProcessPDF_OCRServiceFailure]' passed (0.642 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testProcessPDF_PDFProcessorFailure]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testProcessPDF_PDFProcessorFailure]' passed (0.510 seconds).
Test Case '-[OCRMaxTests.OCRViewModelTests testProcessPDF_Success]' started.
Test Case '-[OCRMaxTests.OCRViewModelTests testProcessPDF_Success]' passed (0.606 seconds).
Test Suite 'OCRViewModelTests' failed at 2025-07-30 08:15:48.776.
	 Executed 15 tests, with 1 failure (0 unexpected) in 3.087 (3.091) seconds